  body {
    padding-left: 38em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: #ffffff;
    background-color: #313a3d }
  div.navbar {
    position: absolute;
    left: 2em;
    width: 35em }

h1{
	
text-align:left;
}
